<hr />
<div style="font-size: 80%; color: gray;"><p>This research is done by the NetOS group at the University of Cambridge Computer Laboratory. If you have any questions or would like to learn more, please contact us directly:</p>

<p><strong>Email:</strong><br /><a href="mailto:ipc-bench@cl.cam.ac.uk">ipc-bench@cl.cam.ac.uk</a></p>

<p><strong>Postal address:</strong><br />NetOS group<br />University of Cambridge Computer Laboratory<br />Willam Gates Building<br />15 JJ Thomson Avenue<br />Cambridge CB3 0FD, UK<br />Tel.: +44 1223 763683
</p>
</div>

</div></div>

<ul id="site-info"><li class="copy">&#169; 2012 Computer Laboratory, University of Cambridge<br />Information provided by <a href="http://www.cl.cam.ac.uk/~ms705/">Malte Schwarzkopf</a></li></ul>
</div>
</body></html>
