<html>
<head>
 <title>ipc-bench</title>
 <style>
  #results-table, #results-table td, #results-table th {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
  }
 </style>
</head>

<body>

<table id="results-table">
 <tr>
   <th># cores</th>
   <th>CPU model(s)</th>
   <th>Operating system</th>
   <th>Throughput graphs</th>
 </tr>
